* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.item {
    font-size: 1em;
}

.item-left {
    text-align: left;
    text-justify: inter-word;

}

body, html {
    margin: 0;
    padding: 16px 64px;
    font-size: 13px;
}

header, main, footer {
    text-align: center;
}

h1 {
    font-size: 2em;
}

body {
    flex-direction: column;
    height: 100vh;
}

nav {
    grid-gap: 300px;
    flex-direction: row;
    padding: 0px 64px 16px;
    margin-top: -10px;
    align-items: center;
    /* border: 1px solid black; */
    justify-content: center;
}

.banner {
    width: 500px;
    height: 400px;
}

header .concursoPage {
    flex-direction: row;
    padding: 16px 0;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-content: center;   
}

main p {
    word-wrap: break-word;
}

div {
    width: 100%;
}



button {
    background-color: #018fbe;
    color: white;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 16px;
    padding: 16px 45px;
    border: none;
}

main {
    flex-direction: row;
    padding: 16px 0;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-content: center;  
}


form input {
    
    width: 100%;
    margin-bottom: 4px;
    box-sizing: border-box;
    padding: 8px 16px;
    border: 1px #00000077 solid;
    
}
form button {
    width: 50%;
}

form span {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: center;
}

form span p {
    color: red
}

.hide {
    opacity: 0;
    visibility: hidden;
    height: 0;
    margin-top: -70px;
}